@font-face {
  font-family: 'Zimra Black';
  src: url(../fonts/Zimra-Black.otf);
}@font-face {
  font-family: 'Zimra Regular';
  src: url(../fonts/Zimra-Regular.otf);
}@font-face {
  font-family: 'Zimra Thin';
  src: url(../fonts/Zimra-Thin.otf);
}
body,
html {
  font-family: "Zimra Regular", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zimra Black", serif;
}
p {
  font-family: "Zimra Regular", sans-serif;
}
a {
  font-family: "Zimra Regular", sans-serif;
}
:where(button, input, optgroup, select, textarea) {
  font-family: "Zimra Regular", sans-serif !important;
}
option {
  color: black;
}
.drop-it-wrap {
  width: 100%;
  border: 5px dashed #ececec;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.drop-it-wrap .loader {
  display: none;
}
.drop-it-wrap.uploading .loader {
  display: block;
}
.drop-it-wrap.uploading .default {
  display: none;
}
.drop-it-wrap.active {
  border-color: blue;
}
.drop-it-wrap:hover {
  border: 5px dashed #d3d3d3;
}
.drop-it-input {
  position: absolute;
  top: -99999999px;
}
@keyframes disco {
  0% {
    background: blue;
  }
  100% {
    background: red;
  }
}
.batch {
  cursor: crosshair;
  background: #fff;
}
.batch.uploading {
  animation: disco 0.1s infinite alternate;
}
