@import url("https://fonts.googleapis.com/css?family=Cabin:300,400,500,700&display=swap");
@font-face {
  font-family: "Zimra Black";
  src: url(../fonts/Zimra-Black.otf);
}
@font-face {
  font-family: "Zimra Regular";
  src: url(../fonts/Zimra-Regular.otf);
}
@font-face {
  font-family: "Zimra Thin";
  src: url(../fonts/Zimra-Thin.otf);
}
@import url("./button.css");
body,
html {
  font-family: "Zimra Regular", serif !important;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
.hfont {
  font-family: "Cabin", serif !important;
}
p {
  font-family: "Zimra Regular", serif !important;
}
a {
  font-family: "Zimra Regular", serif !important;
}
:where(button, input, optgroup, select, textarea) {
  font-family: "Zimra Regular", serif !important;
}
option {
  color: black;
}
.drop-it-wrap {
  width: 100%;
  border: 5px dashed #ececec;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.drop-it-wrap .loader {
  display: none;
}
.drop-it-wrap.uploading .loader {
  display: block;
}
.drop-it-wrap.uploading .default {
  display: none;
}
.drop-it-wrap.active {
  border-color: blue;
}
.drop-it-wrap:hover {
  border: 5px dashed #d3d3d3;
}
.drop-it-input {
  position: absolute;
  top: -99999999px;
}
@keyframes disco {
  0% {
    background: blue;
  }
  100% {
    background: red;
  }
}
.batch {
  cursor: crosshair;
  background: #fff;
}
.batch.uploading {
  animation: disco 0.1s infinite alternate;
}
.shopbycategory {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.swiper-button-next,
.swiper-button-prev {
  color: #000 !important;
  text-decoration: none;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #000;
  font-size: 20px !important;
  font-weight: bold;
}
.swiper-pagination {
  transform: translate(-25px, -50%) !important;
  display: flex;
  left: 100% !important;
  flex-direction: column;
}
.heropagination {
  margin: 5px !important;
  width: 15px !important;
  height: 15px !important;
}
.swiper-pagination-bullet {
  background: #ffffff !important;
  margin: 5px !important;
  width: 15px !important;
  height: 15px !important;
}
.swiper-pagination-bullet-active {
  background: #e9ddda !important;
}
.header-nav-link.active {
  color: #000 !important;
}
.header-nav-link:hover {
  color: #000 !important;
}
.header-nav-link:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.header-nav-link.active:after {
  color: #000 !important;
  width: 100%;
}

.footer {
  background: #f6f9ff;
  font-size: 14px;
}

.footer .footer-newsletter {
  padding: 50px 0;
  background: #f6f9ff;
  border-top: 1px solid #e1ecff;
}

.footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  color: #000000;
}

.footer .footer-newsletter form {
  margin-top: 20px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1ecff;
}

.footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
}

.footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: #4154f1;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
}

.footer .footer-newsletter form input[type="submit"]:hover {
  background: #5969f3;
}

.footer .footer-top {
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}

@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}

.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000000;
  font-family: "Cabin", sans-serif;
  margin-top: 3px;
}

.footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Cabin", sans-serif;
}

.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
  color: #000000;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #e9ddda;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-top .footer-links ul span {
  color: #000000;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
  line-height: 1;
}

.footer .footer-top .footer-links ul span:hover {
  color: #000000;
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #000000;
}

.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #000000;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.section h5.section-title {
  position: relative;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
}
.section h5.section-title::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  right: -55px;
  top: 50%;
  transform: translateY(-50%);
  background: #000;
}

.section h5.section-title::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  right: -55px;
  top: 50%;
  transform: translateY(-50%);
  background: #e9ddda;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 40px 30px;
  box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
  background: #fff;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}

.testimonials .testimonial-item .stars {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #4154f1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #4154f1;
}

.testimonials .swiper-slide {
  opacity: 0.3;
}

@media (max-width: 1199px) {
  .testimonials .swiper-slide-active {
    opacity: 1;
  }

  .testimonials .swiper-pagination {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .testimonials .swiper-slide-next {
    opacity: 1;
    transform: scale(1.12);
  }
}
.swiper,
.swiper-container {
  overflow: unset !important;
  width: 100%;
}

.partner-tab {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  border-bottom-left-radius: 290486px;
  border-top-left-radius: 290486px;
  border-bottom-right-radius: 290486px;
  border-top-right-radius: 290486px;
}

.partner-tabs-container {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  font-size: 1rem;
  height: 3.5rem;
  padding: 5px;
  width: 40%;
  border-bottom-left-radius: 290486px;
  border-top-left-radius: 290486px;
  border-bottom-right-radius: 290486px;
  border-top-right-radius: 290486px;
  background-color: #f0e8e8;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}

.partner-tab .card-content {
  text-align: center;
}

.partner-tabs-container .is-active {
  background-color: #000000;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .partner-tabs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-bottom: 90px;
  }
}

.hero-brand-logo {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
}
.hero-brand-logo:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: -10px;
  transition: all 0.3s ease-in-out;
}
