.buttonStyle {
  background-color: #000000;
  border: 2px solid #000000;
  box-sizing: border-box;
  font-weight: normal;
  color: #FFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}
.buttonStyle.small {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
}
.buttonStyle:hover {
  background-color: #111827;
  border-color: #111827;
}

.buttonStyle:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .buttonStyle {
    padding: 0.75rem 1.5rem;
  }
}

.buttonStyle.outline {
  background-color: transparent;
  border-color: #000000;
  color: #000000;
}
.buttonStyle.outline:hover {
  background-color: #000000;
  border-color: #000000;
  color: #e9ddda;
}
.buttonStyle.outline.white {
  background-color: transparent;
  border-color: #e9ddda;
  color: #e9ddda;
}
.buttonStyle.outline.white:hover {
  background-color: #e9ddda;
  border-color: #e9ddda;
  color: #000000;
}